<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
<ion-content class="ion-padding">
	<div class="flex">
	  <ion-toolbar>
		<ion-title>Log In</ion-title>
	  </ion-toolbar>
	  <div>
		<ion-item fill="outline">
		  <ion-label position="floating">Email</ion-label>
		  <ion-input type="email" [(ngModel)]="email"></ion-input>
		</ion-item>
		<div class="margin"></div>
		<ion-item fill="outline">
		  <ion-label position="floating">Password</ion-label>
		  <ion-input type="password" [(ngModel)]="password"></ion-input>
		</ion-item>
		<div class="margin"></div>
		<ion-button (click)="login()" shape="round" color="primary">LOGIN</ion-button>
		<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
	  </div>
	  <div>
		<h6>or continue with</h6>
	  </div>
	</div>
  </ion-content>
