<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
<ion-content>
  <div class="flex">
    <ion-title color="dark">
      <h1>Memoirs</h1>
    </ion-title>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/page1" shape="round" color="light">Go to Notes</ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/login" shape="round" color="light">Log In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

 <!-- <ion-button routerLink="/login" shape="round" color="light">Go to Log In</ion-button>
    <ion-button routerLink="/login" shape="round" color="light">Go to Log In</ion-button> -->


