ion-content{
  --background: #D7E334;
  font-family: 'DM Sans', sans-serif;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1{
  font-size: 50px;
  text-align: center;
}
ion-row{
  color: white;
  position: fixed;
  bottom: 50px;
 left: 60px;
}
